@import './scss/bootstrap';
@import './scss/footer';
@import './scss/header';
@import './scss/home';
@import './scss/auth';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
   
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 0 auto;
}