.footer{
    background: url(../assects/images/footerbackground.jpg);
    .container{
      background-color: navy;
      opacity: 0.7;
      padding: 10px;
      
    }
    ul{
        list-style: none;
        li{
          a:hover{
            color: yellow !important;
            transition: 0.3s;
            margin-left: 7px;
          }
        }
    }
}